* {
	font-family: Helvetica;
}

.header,
.info,
.about {
	text-align: center;
}

.header {
	background-image: url(../images/the-flatiron-building.png);
	color: white;
	font-weight: bold;
}

h1 {
	font-size: 70px;
}

.page-nav {
	color: white
	font-size: 18px;
}

#process {
	font-size: 32px;
	font-weight:bold;
}

h3 {
	font-size: 23px;
	font-weight: bold;
}

p {
	font-size: 14px;
}

.footer {
	font-size: 11px;
	color: white;
	background-color: dimgray;
	text-align: left;
}